
body {
    background: url('img/back.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.moscow-time {
    display: flex;
    flex-direction: column;
    align-items: right; 
    text-transform: uppercase;
    color: white;
    font-family: "5mal6Lampen", sans-serif;
    font-size: 36px;
}
.eng {
    font-size: 30px;
}

.time-container {
    position: relative;
    display: inline-block;
    position: relative;
    left: 40px;
    top: -6px;
}


.time-bg {
    position: absolute;
    top: 5px;
    left: -20px;
    width: 130%;
    height: auto;
    z-index: -1; 
}


.time {
   font-size: 80px;
    font-family: '5mal6Lampen', 'Courier', monospace;
    color: #fbff9c; /* Основной цвет текста */
    margin: 10px 0;
    letter-spacing: -5px;
    text-shadow: 0 0 15px rgba(255, 0, 0, 1), 0 0 20px rgba(255, 0, 0, 1); 
}


.moscow-time .moscow,
.moscow-time .eng {
    display: block;
    position: relative;
    top: -15px;
    left: 20px;
}


.logo {
    position: absolute;
    left: 53%;
    transform: translateX(-50%);
}

.logo-img {
    max-height: 100px;
}

.social-icons a {
    margin: 0 15px;
}

.social-icons img {
    height: 58px;
    position: relative;
    right: 150px;
}


.marquee {
    font-size: 120px;
    color: #fbff9c;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "5mal6Lampen", sans-serif;
    position: relative;
    top: -25px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
    text-shadow: 0 0 30px rgba(255, 0, 0, 1), 0 0 20px rgba(255, 0, 0, 1); 
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.player-block, .playlist-block {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 48%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

h2, h3 {
    margin: 0 0 20px 0;
    text-align: center;
    color: white;
}

p {
    text-align: center;
    font-size: 18px;
    color: white;
}



.now-playing-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}


.album-cover {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
}

.now-playing-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    position: relative;
    top: 300px;
    left: -50px;
}

.track-title {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}


.controls-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}


#volume-control {
    width: 150px;
    margin-left: 10px;
}

.visualizer {
    margin-top: 10px;
    text-align: center;
}

canvas.my_visualizer {
    background-color: transparent; 
    border: none;
}


.radio-controls {
    text-align: center;
    margin-top: 15px;
}




.radio-player {
    margin: 20px 0;
    text-align: center;
}

iframe {
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
}


.footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer a {
    color: white;
    margin: 0 50px;
    text-decoration: none;
    font-size: 30px;
    font-family: "vsc", sans-serif;
}

.footer a:hover {
    text-decoration: underline;
}


@media (max-width: 1200px) {
    .content {
        flex-direction: column;
        gap: 40px;
    }

    .player-block, .playlist-block {
        width: 100%;
    }
}
